$base-font-color: #333;
$light-font-color: #666;
$blue-color: #3397db;
$off-white: #fdfdfd;
$dark-background: #252831;
$orange-color: #f18200;
$heavy-font-weight: 600;
$light-font-weight: 300;
$subheader-size: 2em;
