@charset "utf-8";
@import "variables";

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: $dark-grey;
  line-height: 1.5;
}

ul,
li {
  font-size: 10pt;
}
a {
  color: $orange-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $blue-color;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: $off-white;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &.restaurantpage {
    header {
      width: 100%;
      border-bottom: $standard-seperator-border;
      #breadcrumb {
        list-style: none;
        background-color: $background-grey;
        margin: 0;
        width: 100%;
        height: 40px;
        padding: 0;
        li {
          display: inline;
          font-size: 1.1em;
          a {
            color: $blue-color;
            text-decoration: none;
            padding: 10px 0;
            line-height: 40px;

            &:first-child {
              padding-left: 30px;
            }

            &:hover {
              color: darken($blue-color, 25%);
              text-decoration: underline;
            }
          }
        }

        li + li:before {
          padding: 8px;
          color: black;
          content: "/\00a0";
        }
      }
    }

    #maincontent {
      display: flex;
      flex-wrap: wrap;
      #map-container {
        order: 2;
        margin: 10px 0;
      }

      #restaurant-container {
        border-bottom: $standard-seperator-border;
      }
      #reviews-container {
        border-top: $standard-seperator-border;
      }

      #restaurant-container {
        order: 1;
        width: 90%;
        display: block;
        margin: 0 auto;
        #restaurant-name {
          color: $orange-color;
          font-size: 2.2em;
          font-weight: $light-font-weight;
          text-transform: uppercase;
          line-height: 1.1;
          text-align: center;
          margin: 20px 0 10px 0;
        }
        #restaurant-address {
          color: $light-grey;
          font-size: 1.2em;
          margin: 0;
          padding: 0;
          text-align: center;
          margin-bottom: 5px;
          font-weight: $light-font-weight;
        }

        #img-container {
          margin: 0;
          padding: 0;
          #restaurant-img {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            object-fit: contain;
          }
        }
        #restaurant-cuisine {
          background-color: $dark-grey;
          color: $off-white;
          font-size: 1.2em;
          font-weight: $light-font-weight;
          letter-spacing: 10px;
          margin: 0;
          margin-top: 3px;
          padding: 4px 0;
          text-align: center;
          text-transform: uppercase;
        }

        #restaurant-hours {
          width: 95%;
          margin: 10px auto 15px auto;
          td {
            color: $light-grey;
            &:first-child {
              font-weight: $heavy-font-weight;
              padding-right: 15px;
            }
          }
        }
      }

      #reviews-container {
        order: 3;
        width: 90%;
        margin: 0 auto;

        h2 {
          color: $orange-color;
          font-size: $subheader-size;
          font-weight: $light-font-weight;
          font-weight: $light-font-weight;
          letter-spacing: -1px;
          padding: 5px 0 0;
        }

        #reviews-list {
          margin: 0;
          padding: 0;
          li {
            background-color: white;
            box-shadow: $boxshadow;
            border-radius: 4px;
            display: block;
            list-style-type: none;
            margin: 0 auto 15px auto;
            overflow: hidden;
            padding: 10px;
            position: relative;
            p {
              margin: 0;
              padding: 0;
              &.name {
                font-weight: $heavy-font-weight;
                font-size: 1.3em;
              }
              &.date {
                color: $light-grey;
              }
              &.comments {
                margin-top: 15px;
              }
            }
            .rating {
              position: absolute;
              top: 3px;
              right: 3px;
              font-size: 1.6em;
              color: $light-grey;
              span {
                &.checked {
                  color: $orange-color;
                }
              }
            }
          }
        }
      }
    }
  }

  header {
    nav {
      width: 100%;
      height: 80px;
      background-color: $dark-background;
      text-align: center;

      h1 {
        margin: auto;
        line-height: 80px;

        a {
          color: #fff;
          font-size: 1.4rem;
          font-weight: $light-font-weight;
          letter-spacing: 8px;
          text-transform: uppercase;
          padding: 10px;
        }
      }
    }
  }

  #maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    width: 100%;
    flex: 1;
    section {
      width: 100%;
    }

    #map-container {
      #map {
        height: 300px;
        width: 100%;
        background-color: $off-white;
      }
    }
    #filter-container {
      width: 100%;
      background-color: $blue-color;
      .filter-options {
        width: 90%;
        margin: 0 auto;
        max-height: 100%;
        align-items: center;

        h2 {
          color: white;
          font-size: 1.4em;
          font-weight: normal;
          margin: 0;
          padding-top: 5px;
        }

        select {
          padding-left: 10px;
          width: 100%;
          background-color: white;
          border: 1px solid white;
          font-size: 1.2em;
          height: 40px;
          letter-spacing: 0;
          margin-top: 10px;
          &:last-child {
            margin-bottom: 10px;
          }
        }
      }
    }
    #result-container {
      width: 90%;
      margin: 0 auto;
      h2 {
        margin: 10px 0;
        color: $orange-color;
        font-size: $subheader-size;
        font-weight: $light-font-weight;
      }
      #noresults {
        font-size: 1.4em;
        display: none;
        &.show {
          display: block;
          margin-bottom: 25px;
        }
      }

      #restaurants-list {
        list-style: outside none none;
        margin: 0;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li {
          background-color: white;
          box-shadow: $boxshadow;
          min-height: 380px;
          width: 100%;
          margin: 5px 0;

          .restaurant-img {
            display: block;
            margin: 0;
            max-width: 100%;
            min-height: 128px;
            min-width: 100%;
          }
        }
        h1 {
          color: $orange-color;
          font-size: 1.5em;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 1.3;
          margin: 20px 0 10px;
          text-transform: uppercase;
        }

        p {
          margin: 0;
          font-size: 1.3em;
        }

        a {
          background-color: $orange-color;
          color: $off-white;
          display: inline-block;
          font-size: 1.3em;
          margin: 15px 0 0;
          padding: 0;
          height: 40px;
          line-height: 40px;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          width: 100%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #footer {
    background-color: #444;
    color: #aaa;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
  }
}
