$dark-grey: #333;
$light-grey: #666;
$blue-color: #217cba;
$off-white: #f3f3f3;
$dark-background: #252831;
$accent-color: #064b7b;
$background-grey: #eee;
$gold: #FFDC00;

$heavy-font-weight: 600;
$light-font-weight: 300;
$subheader-size: 2em;
$max-display-width: 1280px;
$standard-seperator-border: 1px solid #d9d9d9;
$boxshadow: 0px 0px 10px $dark-background;
